<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/dark.css" />
  <title>HyperMD</title>
</head>
<body>
  <header>
    <h1>HyperMD</h1>
  </header>
  <main>
<div class="button-container">
  <button id="createAccount">Create Account</button>
  <button id="exportAccount">Export Account</button>
  <button id="createItem">Create Item</button>
  <button id="copyLinkToItem">Copy Link to Item</button>
</div>
    <div class="container">
      <textarea id="markdownEditor" placeholder="Write your Markdown here..."></textarea>
      <div id="markdownRenderer"></div>
    </div>
  </main>
  <script src="/js/bundle.js"></script>
</body>
</html>

